{% extends 'base.html' %}
{% block content %}
    {% load cart_tag %}
    <h1>Cart</h1>
    Total Lenght :: {{ request.session.cart|length }}
    <br>
    Cart Detail:

    {% for key, value in request.session.cart.items %}
        Name: {{ value.name }}<br>
        Price: {{ value.price }}<br>
        Quantity: {{ value.quantity }}<br>
        <br>
        Total {{ value.price|multiply:value.quantity }}
    {% endfor %}
    <br>
    <button>
        <a href="{% url 'cart_clear' %}">
            Cart Clear
        </a>
    </button>
    <br>
    <button>
        <a href="{% url 'home' %}">
            Home Page
        </a>
    </button>
{% endblock content %}